<div class="container">
        <div class="row">
                 <div class="well well-sm">
                    <div class="row">
                        <div class="col-sm-6 col-md-8 " >
                        <h3>User Information</h3>
                        <br>
                        <p *ngIf="user!=null">
                            <dl > <dt>User Id: </dt> <dd><i class="material-icons">person</i> {{user.userId}} </dd> </dl>
                            <br/>
                            <dl> <dt>Email: </dt> <dd><i class="material-icons">email</i> {{user.email}} </dd> </dl>
                            <br/>
                            <dl> <dt>Name:</dt> <dd><i class="material-icons">person_pin</i>{{user.name}} </dd> </dl>
                            <br/>
                            <dl> <dt>Lastname:</dt> <dd><i class="material-icons">person_pin</i>{{user.lastname}} </dd> </dl>
                            <br/>
                            <dl> <dt>Role:</dt> <dd>{{user.role}} </dd> </dl>
                            <br/>
                            <dl> <dt>University:</dt> <dd><i class="material-icons">school</i> {{user.university}} </dd> </dl>                        
                    </div>
                </div>
        </div>
</div>