.navbar-fixed-left {
    width: 12%;
    position: fixed;
    border-radius: 0;
    height: 100%;
    text-align: left;
  }
  
  .navbar-fixed-left .navbar-nav > li {
    float: none;  /* Cancel default li float: left */
    width: 100%;
  }
  
  .navbar-fixed-left + .container {
    padding-left: 160px;
  }
  
  /* On using dropdown menu (To right shift popuped) */
  .navbar-fixed-left .navbar-nav > li > .dropdown-menu {
    margin-top: -50px;
    margin-left: 140px;
  }

  .navbar {
    background-color:rgb(255, 255, 255);

}
.nav-item {
    color: rgba(0, 0, 0, 0) !Important;
}