 .footer {
         
    height:24px; 
    width: 100%; 
    background-image: none;
    background-repeat: repeat;
    background-attachment: scroll;
    background-position: 0% 0%;
    position: fixed;
    bottom: 0pt;
    left: 0pt;

 }

 .footer_contents {
         
    height:24px; 
    width: 1000px; 
    margin:auto;


 }

.pull-right {
        float: right !important;
      }

.row {
        margin: 0 auto;
        width: 80%;
        height: 60%;      
}

