.mt-auto {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 50px;
}
.pull-right {
        float: right !important;
      }

.row {
        margin: 0 auto;
        width: 80%;
        height: 60%;      
}