<mat-card [style.backgroundColor]="'rgba(252, 252, 252, 0.877)'">
    <h2>Welcome to <b>Thesis Management System</b></h2>
</mat-card><br>

<h2><i class="material-icons">search</i>Search Thesis</h2>


<mat-card>
    <div>
        <p>Search by university</p>

        <form class="example-form" *ngIf="universitiesLoaded">
            <mat-form-field class="example-full-width">
                <input type="text" placeholder="Pick one" aria-label="Number" matInput [formControl]="myControlUniversity"
                    [matAutocomplete]="auto">
                <mat-autocomplete #auto="matAutocomplete" >
                    <mat-option *ngFor="let university of filteredUniversityOptions | async" [value]="university.name">
                        {{university.name}}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>
        </form>
    </div>
</mat-card>

<hr>

<mat-card>
    <div>
        <p>Search by professor</p>

        <form class="example-form" *ngIf="professorsLoaded">
            <mat-form-field class="example-full-width">
                <input type="text" placeholder="Pick one" aria-label="Number" matInput [formControl]="myControlProfessor"
                    [matAutocomplete]="auto">
                <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayProfessor">
                    <mat-option *ngFor="let professor of filteredProfessorOptions | async"
                     [value]="professor" >
                        {{professor.name}} {{professor.lastname}}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>
        </form>
    </div>
</mat-card>

 