<!-- <mat-card [style.backgroundColor]="'rgba(252, 252, 252, 0.877)'"> -->
<div *ngIf="!isloggedin">
    <h2>Welcome to <b>TMS</b></h2>
    <h3>You can get started by browsing available theses:</h3>
</div>
<!-- </mat-card> -->
<br>
<mat-card class="col-md-4">
    <div>
        <p>Search theses by university</p>
        <form  class="example-form" *ngIf="universitiesLoaded" (ngSubmit)="onSubmit(myControlUniversity)">
            <mat-form-field class="example-full-width">
                <input type="text" placeholder="Pick one" aria-label="Number" matInput
                    [formControl]="myControlUniversity" [matAutocomplete]="auto">
                <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayUniversity" >
                    <mat-option *ngFor="let university of filteredUniversityOptions | async" [value]="university">
                        {{university.name}}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>
            <div class="form-group">
                <button type="submit" [disabled]="!myControlUniversity.value" class="btn btn-success">Submit</button>
            </div>
        </form>
    </div>
</mat-card>

<mat-card class="col-md-4">
    <div>
        <p>Search theses by professor</p>

        <form class="example-form" *ngIf="professorsLoaded"
            (ngSubmit)="onSubmit(myControlProfessor)">
            <mat-form-field class="example-full-width">
                <input type="text" placeholder="Pick one" aria-label="Number" matInput
                    [formControl]="myControlProfessor" [matAutocomplete]="auto">
                <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayProfessor">
                    <mat-option *ngFor="let professor of filteredProfessorOptions | async" [value]="professor">
                        {{professor.name}} {{professor.lastname}}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>
            <div class="form-group">
                <button type="submit"  [disabled]="!myControlProfessor.value" class="btn btn-success">Submit</button>
            </div>
        </form>

    </div>
</mat-card>

<br>
<div *ngIf="!isloggedin">
    <h3 class="col-md-6">Or you can propose you own!    <button color="accent" mat-raised-button (click)="login()">Login</button></h3>
</div>