<div class="container">
    <div class="row">
             <div class="well well-sm">
                <div class="row">
                    <div class="col-sm-6 col-md-8 " *ngIf="isLoaded">
                        <h3>My Thesis Information</h3>
                        <br>
                            <dl > <dt>Created Time: </dt> <dd>{{assigned.created_time | date}} </dd> </dl>
                            <br/>
                            <dl> <dt>Title: </dt> <dd>{{assigned.thesis?.title}} </dd> </dl>
                            <br/>
                            <dl> <dt>Professor:</dt>
                              <td><a [routerLink]="['/thesis_professor',assigned.professor._id]">{{assigned.professor.name}} {{assigned.professor.lastname}} </a> </td> </dl>
                            <br/>
                            <dl *ngIf="creator_student!=null"> <dt>Creator Student:</dt> <dd>{{assigned.thesis.creator_student?.name}} {{assigned.thesis.creator_student?.lastname}} </dd>                           <br/>
                            </dl>
                            <dl *ngIf="creator_external!=null"> <dt>Creator External:</dt> <dd>{{assigned.thesis.creator_external?.name}} {{assigned.thesis.creator_external?.lastname}} </dd>                          <br/>
                            </dl>
                            <dl> <dt>Description:</dt> <dd>{{assigned.thesis?.description}} </dd> </dl>
                            <br/>
                            <dl> <dt>Prerequisites:</dt> <dd>{{assigned.thesis?.prerequisites}} </dd> </dl>
                            <br/>
                            <dl> <dt>University:</dt> <dd>{{assigned.university?.name}} </dd> </dl>                        
                    </div>
             </div>
        </div>
    </div>
  </div>