.header {
    text-align: center;
}

.header h1 {
    font-family: serif;
    font-size: 38px;
    font-family: 'Times New Roman';
}

.content {
    margin: 100px;
}

.margin25 {
    margin: 25px;
}

.upload {
    cursor: pointer;
}

.message {
    position: relative;
}

div.centered      { width: 900px; }
div.columns div   { width: 300px; height: 100px; float: left; }
 
.item {
    cursor:pointer;
}
.itemlist {
    font-size:16px;    
}

#getDrafts {
    float:right;
}

dt {
    font-size:18px   
}

dl {
    font-size:16px
}

#file {
    font-size:16px
}