<div class="container-fluid">
    <div class="row">
             <div class="well well-sm">
                <div class="row">
                    <div class="col-sm-6 col-md-8 " >
                        <h4>Thesis Edit</h4>
                        <br>
                        <p *ngIf="isLoaded">
                            <dl > <dt>Created Time: </dt> <dd>{{thesis.created_time | date}} </dd> </dl>
                            <br/>
                            <dl> <dt>Title:</dt> <dd><input class="text" type="text" [(ngModel)] = 'thesis.title'/> </dd> </dl>
                            <dl> <dt>Description:</dt> 
                              <dd>                                    
                                        <textarea  
                                                autosize  cols="120"
                                                [(ngModel)]='thesis.description'
                                                >
                                      </textarea>
                                    </dd> 
                            </dl>
                            <br/>
                            <dl> <dt>Prerequisites:</dt> <dd><input class="text" type="text" [(ngModel)] = 'thesis.prerequisites'/> </dd> </dl>
                            <br/>
                            <dl> <dt>University:</dt> <dd>{{thesis.university?.name}} </dd> </dl> 
                            <button class="btn btn-success" (click)="onSave()" >Save <i class="material-icons">save</i> </button>
                            <span>
                                <button class="btn btn-default" (click)="onCancel()" >Cancel <i class="material-icons">cancel</i> </button>                     
                            </span>  
                            <div class="row"  *ngIf="message!=null ">
                                <div class="col-xs-12">
                                  <p class="alert alert-success">
                                      <strong>Thesis updated successfully!</strong>
                                  </p>    
                                </div>
                              </div>         
                    </div>
                </div>
         </div>
    </div>
  </div>
   