<mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>

<div *ngIf="count>0">
  <table *ngIf="count>0" class="table table-striped table-bordered users" matSort (matSortChange)="sortData($event)">

    <caption>
      <mat-card>
        <h3>Pending Theses Results </h3>
        <h4>You have proposed these theses to your university:</h4>
      </mat-card>
    </caption>
    <thead>
      <tr>
        <th mat-sort-header="created_time" class="table_header"> <i class="material-icons">date_range</i>Created Time
        </th>
        <th mat-sort-header="title" class="table_header"><i class="material-icons">title</i>Title</th>
        <th class="table_header">Prerequisites</th>
        <th class="table_header" mat-sort-header="pending">Valid</th>
        <th class="table_header">Delete</th>
      </tr>
    </thead>
    <tbody *ngIf="count>0">
      <tr *ngFor="let thesis of sortedData">
        <td>{{thesis.created_time | date}}</td>
        <td> <a [routerLink]="['/thesis_details' ,thesis._id]"> {{thesis.title}} </a> </td>
        <td>{{thesis.prerequisites}}</td>
        <td align="center" *ngIf="!thesis.pending"> <i class="material-icons accepted">done</i> </td>
        <td align="center" *ngIf="thesis.pending"> <i class="material-icons not_accepted">clear</i> </td>
        <td><button class="btn btn-default" (click)="deletePending(thesis)"><i
              class="material-icons">delete_forever</i></button></td>

      </tr>
    </tbody>
  </table>

  <div>
    <a [routerLink]="['/student/create_pending']"> <button class="btn btn-success"><i
          class="material-icons add ">add</i> Create Pending Thesis</button></a>
  </div>


  <br>
  <br>
  <br>
  <br>
  <mat-card>
    <h4 *ngIf="acceptedCount>0">These unvalid pending theses were accepted from professors. To make them valid for
      assigning please press the Confirm Thesis button.</h4>
  </mat-card>
  <table *ngIf="acceptedCount>0" class="table table-striped table-bordered users" matSort
    (matSortChange)="sortAcceptedData($event)">
    <caption></caption>
    <thead>
      <tr>
        <th mat-sort-header="created_time" class="table_header"><i class="material-icons">date_range</i>Created Time
        </th>
        <th mat-sort-header="title" class="table_header"><i class="material-icons">title</i>Title</th>
        <th class="table_header"><i class="material-icons">person</i> Professor</th>
        <th mat-sort-header="confirm" class="table_header"> Confirm </th>
      </tr>
    </thead>
    <tbody *ngIf="acceptedCount>0">
      <tr *ngFor="let pending of sortedAcceptedData">
        <td>{{pending.created_time | date}}</td>
        <td> <a [routerLink]="['/thesis_details' ,pending.thesis._id]"> {{pending.thesis.title}} </a> </td>
        <td><a [routerLink]="['/thesis_professor',pending.professor._id]">{{pending.professor.name}}
            {{pending.professor.lastname}} </a> </td>
        <td align="center"><button class="btn btn-success" (click)="confirm(pending)">Confirm Thesis</button> </td>
      </tr>
    </tbody>
  </table>

  <h3 *ngIf="acceptedCount==0">No one professor has accepted your invalid pending theses</h3>

</div>

<br>

<mat-card>
  <h3 *ngIf="count==0 && loading==false">You have not proposed any theses to your university!</h3>
</mat-card>





<div class="row" *ngIf="message!=' ' ">
  <div class="col-xs-12">
    <p class="alert alert-success">
      <strong>You have apply for the thesis sucessfully!</strong>
    </p>
  </div>
</div>

<br>

<div *ngIf="count==0">
  <a [routerLink]="['/student/create_pending']"> <button class="btn btn-success"><i class="material-icons add ">add</i>
      Create Pending Thesis</button></a>
</div>

<div class="card-footer pb-0 pt-3">
  <ul *ngIf="pager.pages>1" class="pagination">
    <li class="page-item first-item">
      <button [disabled]="pager.currentPage === 1" (click)="getThesis(1)" class="pagination btn-default">First </button>
    </li>
    <li class="page-item previous-item">
      <button [disabled]="pager.currentPage === 1" (click)="getThesis(pager.currentPage-1)"
        class="pagination btn-default">Previous </button>
    </li>
    <li class="page-item current-item">
      <button (click)="getThesis(pager.currentPage)" class="pagination btn-default">{{pager.currentPage}}</button>
    </li>
    <li class="page-item next-item">
      <button [disabled]="pager.currentPage === pager.pages" (click)="getThesis(pager.currentPage+1)"
        class="pagination btn-default">Next </button>
    </li>
    <li class="page-item last-item">
      <button [disabled]="pager.currentPage === pager.pages" (click)="getThesis(pager.pages)"
        class="pagination btn-default">Last </button>
    </li>
  </ul>
</div>