.create {
    color:rgb(8, 105, 8)
}

.assigned {
    color:rgb(8, 105, 8)
}

.not_assigned {
    color:red
}

.material-icons.add { 
    font-size: 36px;
    text-align:center;
}

a.add {
    font-size: 33px;
    text-align: center;
}

.item {
    cursor:pointer;
}
.itemlist {
    font-size:16px;    
}

#getDrafts {
    float:right;
}

dt {
    font-size:18px   
}

dl {
    font-size:16px
}

#file {
    font-size:16px
}
 