.nav-item {
    cursor: pointer;
}

.navbar {
    background-color:rgb(88, 173, 226);
    

}

.active2
{
    background-color: #195fc9 ;
}

 
 .nav-item {
    color: white !Important;
}

 .logout {
    position:fixed;
    right:10px;
    top:5px;
 }
 