.nav-item {
    cursor: pointer;
}

.navbar {
    background-color:rgb(88, 173, 226);
    

}

.logo {
    width:40px;
    height:40px;
}
.active2
{
    background-color: rgb(64, 158, 216) ;
}

 
 .nav-item {
    color: white !Important;
}

 .logout {
    position:fixed;
    right:10px;
    top:5px;
 }
 