<table class="table table-striped users" matSort (matSortChange)="sortData($event)">
  <thead > 
      <caption> <h3>Available Theses Results </h3></caption>
    <tr>
      <th mat-sort-header="created_time"> <h4><b>Created Time</b></h4></th>
      <th mat-sort-header="title"><h4><b>Title</b></h4></th>
      <th mat-sort-header="university"><h4><b>University</b></h4></th>
      <th mat-sort-header="professor"><h4><b>Professor</b></h4></th>
      <th><h4><b>Prerequisites</b></h4></th>
      <th mat-sort-header="apply"><h4><b>Apply</b></h4></th>
    </tr>
  </thead>
  <tbody *ngIf="theses!=null">
    <tr *ngFor="let thesis of sortedData">
      <td>{{thesis.created_time | date}}</td>
      <td> <a [routerLink]="['/thesis_details' ,thesis._id]"> {{thesis.title}} </a> </td>
      <td> {{thesis.university.name}}</td>
      <td><a [routerLink]="['/thesis_professor',thesis.professor._id]">{{thesis.professor.name}} {{thesis.professor.lastname}} </a> </td>
      <td>{{thesis.prerequisites}}</td>
      <td *ngIf="thesis.applied==0"><button class="btn btn-success" (click)="applyThesis(thesis)"><i class="material-icons">add</i></button></td>
      <td *ngIf="thesis.applied==1"><p>You have already applied for this thesis!</p></td>

  </tr>
  </tbody>
</table>





<div class="card-footer pb-0 pt-3">
    <ul *ngIf="pager.pages>1" class="pagination">
        <li class="page-item first-item">
            <button  [disabled]="pager.currentPage === 1" (click)="getThesis(1)" class="pagination btn-default">First  </button>
        </li>
        <li class="page-item previous-item">
            <button  [disabled]="pager.currentPage === 1" (click)="getThesis(pager.currentPage-1)" class="pagination btn-default">Previous </button> 
        </li>
        <li class="page-item current-item">
            <button (click)="getThesis(pager.currentPage)" class="pagination btn-default">{{pager.currentPage}}</button>
        </li>
        <li class="page-item next-item">
            <button  [disabled]="pager.currentPage === pager.pages" (click)="getThesis(pager.currentPage+1)" class="pagination btn-default">Next </button>
        </li>
        <li class="page-item last-item">
            <button  [disabled]="pager.currentPage === pager.pages" (click)="getThesis(pager.pages)" class="pagination btn-default">Last </button>
        </li>
    </ul>
</div>