

.tabledata {
    font-size:16px;
}

.not_assigned {
    color:red;
 
}

.material-icons { 
    font-size: 28px;
    text-align:center;
}

.margin-left {
    margin-left: 1em;
}

mat-form-field {
    width: 16rem;
    margin-right: 12px;
}

.bold {
    font-weight: bold;
    margin-right: 10px;
}